#wrapper-header {
    width: 1000px;
    padding: 2%;
    height: max-content;
    margin: auto;
    background: grey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#header {
    width: 100%;
    height: max-content;
    background-color: black;
    border-radius: 25px;
}

#header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}

#header ul li i{
    margin-right: 5px;
    color: gold;
}


#header ul li i:hover{
    color: white;
}

#header li {
    margin: 2%;
    color: gold;
}

#header li:hover {
    color: white;
}


#wrapper-main {
    width: 1000px;
    padding: 2%;
    height: max-content;
    margin: auto;
    background: grey;
    display: flex;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#sidebar {
    width: 30%;
    background: black;
    height: 1260px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#wrapper-main #sidebar img {
    width: 250px;
    height: 300px;
    border-radius: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

#wrapper-main #sidebar h1 {
    color: gold;
}

#wrapper-main #sidebar h1:hover {
    color: white;
}

#wrapper-main #sidebar i{
    margin-left: 15px;
}

#wrapper-main #sidebar h1 i{
    margin-right: 15px;
}

#main {
    height: 1260px;
    width: 70%;
    background: rgb(39, 38, 38);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#main #education-section {
    height: 400px;
    overflow-y: scroll;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

#main #experience-section {
    height: 400px;
    overflow-y: scroll;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

#main #projects-section {
    height: 400px;
    overflow-y: scroll;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

#wrapper-main #main h1 {
    margin-left: 10px;
    color: gold;
}

#wrapper-main #main h1:hover {
    color: white;
}

#wrapper-main #main h1 i{
    margin-right: 8px;
}

.card {
    color: white;
    margin-left: 20px;
}

.card h2,h3 {
    color: white;
    margin-top: 1px;
    margin-bottom: 1px;
}